<div class="row">
  <div class="col-md-6">
     <%= form_for(@wiki) do |f| %>
       <% if @wiki.errors.any? %>
         <div id="error_explanation">
            <h2><%= pluralize(@wiki.errors.count, "error") %> prohibited this wiki from being saved:</h2>
            <ul>
              <% @wiki.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

      <div class="form-group">
        Title: <%= f.text_field :title %>
        Body: <%= f.text_field :body %>

        <% if current_user.admin? || current_user.premium? %>
          <%= f.label :private, class: 'checkbox' do %>
            <%= f.check_box :private %> Private Wiki
          <% end %>
        <% end %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
     <% end %>
  </div>

  <div class="col-md-6">
    <h3>Add a collaborator</h3>
    <%= form_for [@wiki, Collaborator.new] do |ff| %>
      <%= ff.collection_select :user_id, @users, :id, :email %>
      <%= ff.submit 'Save' %>
    <% end %>

    <h3>Collaborators</h3>
    <% @collaborating_users.each do |user| %>
      <p><%= user.email %></p>
      <%= link_to 'Remove collaborator', wiki_collaborator_path(@wiki, user), method: :delete, class: 'btn btn-primary'  %>
    <% end %>

  </div>
</div>




