<%= form_for(@wiki) do |f| %>
  <% if @wiki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wiki.errors.count, "error") %> prohibited this wiki from being saved:</h2>
      <ul>
        <% @wiki.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "form-group">
    Title: <%= f.text_field :title %>
    Body: <%= f.text_field :body %>

    <% if current_user.admin? || current_user.premium? %>
      <%= f.label :private, class: 'checkbox' do %>
      <%= f.check_box :private %> Private Wiki
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>

    <br /><br />
    <b>Add a collaborator</b>
    <%= form_for Collaborator.new do |f| %>
      <%= f.hidden_field :wiki_id, value: @wiki.id %>
      <%= f.collection_select :user_id, User.all, :id, :email %>
      <%= f.submit %>
    <% end %>

<% if false %>  BLOCK COMMENTED OUT
    <br /><br />
    <b>Remove a collaborator</b>
    <%= form_for Collaborator.destroy do |f| %>
      <%= f.hidden_field :wiki_id, value: @wiki.id %>
      <%= f.collection_select :user_id, Collaborator.user, :id, :email %>
      <%= f.submit %>
    <% end %>
<% end %>

<% if false %>  BLOCK COMMENTED OUT
    <br /><br />
    <b>Remove a collaborator</b>
    <%= form_for Collaborator.all, { :method => :delete } do |f| %>
      <%= f.hidden_field :wiki_id, value: @wiki.id %>
      <%= f.collection_select :user_id, Collaborator.user, :id, :email %>
      <%= f.submit %>
    <% end %>
<% end %>


  </div>
