<p id="notice"><%= notice %></p>
<h1><%= @wiki.title %></h1>
<p>
  <%= markdown.render(@wiki.body).html_safe %>
</p>

<% if current_user.premium? || current_user.admin? %>
  <% if @wiki.private? %>
    <p><small><em>Private Wiki</em></small></p>
  <% end %>
<% end %>
<%= link_to 'Edit', edit_wiki_path(@wiki) %> |
<%= link_to 'Back', wikis_path %>
